/* LG - SMALL LAPTOPS: 1024-1280PX */

@media (max-width: 72rem) {
  /* 1150px / 16px = 72rem */
  /* 72rem * 16px = 1152px*/

  html {
    font-size: 56.25%;
    /* 9px / 16px = 56.25%*/
  }

  .features-grid-container {
    column-gap: 2rem;
  }

  .cta-section {
    margin-bottom: 20rem;
  }
}

/* MD - TABLETS: 768PX - 1024PX */

@media (max-width: 51rem) {
  /* 815px / 16px = 51rem */
  /* 51rem * 16px = 816px*/

  html {
    font-size: 50%;
    /* 8px / 16px = 50%*/
  }

  .features-grid-container {
    column-gap: 1.5rem;
  }

  .cta-section {
    margin-bottom: 15rem;
  }
}

/* SM - PHONE LANDSCAPE:576PX - 768PX */

@media (max-width: 43rem) {
  /* 680px / 16px = 43rem */
  /* 43rem * 16px = 688px*/

  html {
    font-size: 43.75%;
    /* 7px / 16px = 43.75%*/
  }

  .features-grid-container {
    column-gap: 0.5rem;
    row-gap: 5rem;
  }

  .cta-section {
    margin-bottom: 13rem;
  }

  .cta-card {
    padding: 8rem 16rem;
  }

  .feature-section {
    margin-bottom: 20rem;
  }
}

/* XS- PHONE PORTRAIT: <576PX */

@media (max-width: 34rem) {
  /* 530px / 16px = 34rem */
  /* 34rem * 16px = 544px*/

  html {
    font-size: 37.5%;
    /* 6px / 16px = 37.5%*/
  }

  .hero-heading-break {
    display: none;
  }

  .hero-section {
    height: auto;
  }
  .features-grid-container {
    grid-template-columns: 1fr;
  }
  .feature-img-swap-order {
    grid-row: auto;
    grid-column: auto;
  }

  .cta-card {
    padding: 8rem 6rem;
  }
}
